h1 {
    color: rgb(216, 6, 114);
    font-size: 75px;
}

p {
    color: rgb(18, 9, 1);
    font-size: 20px;
}
p {
.red {
    color: red;
}
.orange   {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.violet {
    color: violet;
}
}