.conteainer div {
       display: inline-flex;
       flex-wrap: wrap;
       color: white;
       width: 100px;
       height: 100px;
       font-size: 20px;
       vertical-align: middle;
       text-align: center;
       justify-content: center; /* Центрируем элементы по горизонтали */
       align-items: center;
    }
        .red {
        background-color: red;
    }
    .orange {
        background-color: orange;
    }
    .yellow {
        background-color: yellow;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
    .indigo {
        background-color: indigo;
    }
    .violet {
        background-color: violet;
    }
